@import './normalize';

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Helvetica Neue', sans-serif; 
}

html {
  font-size: 0.8rem;
}
@media screen and (min-width: 20rem) {
  html {
    font-size: calc(0.8rem + 1.2 * ((100vw - 20rem) / 30));
  }
}
@media screen and (min-width: 50rem) {
  html {
    font-size: 2rem;
  }
}

a {
  color: inherit;
  text-decoration: inherit;
}

a {
  display: inline-block;
}

a:hover span:after,
a:focus span:after{
  transform: translate3d(0, 0, 0);
}

a span {
  position: relative;
  overflow: hidden;
  padding-bottom: 4px;
  display: inline-block;
}

a span:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;

  position: absolute;
  left: 0;
  bottom: 0;

  transform: translate3d(-70%, 0, 0);
  transition: transform .1s ease-in;
  background-color: rgb(51, 51, 51);
}

a.inverted span:after {
  background-color: #fff;
}

.intro {
  width: 100%;
  height: 100%;
  display: table;
}

.intro .title {
  display: table-cell;
  text-align: right;
  vertical-align: top;
  color: rgba(255, 255, 255, .75);
}

.intro .title div {
  padding: 2em 1em;
  font-size: 2em;
}

.intro .title h1 {
  font-weight: 200;
  letter-spacing: .01em;
  margin-bottom: 0;
}

.intro .title p {
  font-weight: 200;
  letter-spacing: .01em;
  margin-top: 0;
  font-size: .75em;
}

#bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

#credits {
  position: absolute;
  font-size: .5em;
  bottom: 0;
  left: 0;
  margin: 0 0 1em 1em;
  padding-left: .5em;
  color: rgba(255, 255, 255, .85);
  border-left: 2px solid rgba(255, 255, 255, .85);
  text-decoration: none;
}

.showcases {
  border-top: 1px solid rgb(51, 51, 51);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  flex-flow: row wrap;
  position: relative; 
  background: #111;
}

.showcases h2 {
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: .05em;
  margin-left: .75em;
  display: flex;
  flex: 1;
  align-items: center;
  text-align: center;
  width: 40vw;
  margin: 0;
  color: #fff;
  justify-content: center;
  font-size: 1.75em;
}

.showcases .glide-container {
  position: relative;
  display: block;
  width: 60vw;
}

.showcases img {
  display: block;
  width: 100%;
  height: 100%;
}

.showcases a {
  display: block;
  position: absolute;
  font-weight: bold;
  z-index: 1000;
  font-size: .5em;
  bottom: 0;
  left: 0;
  margin: 0 0 1em 1em;
  padding-left: .5em;
  color: rgba(255, 255, 255, .85);
  border-left: 2px solid rgba(255, 255, 255, .85);
  text-decoration: none;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgb(51, 51, 51);
  padding: .5em;
  font-size: 0.5em;
}


.glide {
  position: relative;
  width: 100%;
  box-sizing: border-box; }
  .glide * {
    box-sizing: inherit; }
  .glide__track {
    overflow: hidden; }
  .glide__slides {
    position: relative;
    width: 100%;
    list-style: none;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    touch-action: pan-Y;
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    will-change: transform;
    margin: 0;
  }
    .glide__slides--dragging {
      user-select: none; }
  .glide__slide {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    white-space: normal;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent; }
    .glide__slide a {
      user-select: none;
      -webkit-user-drag: none;
      -moz-user-select: none;
      -ms-user-select: none; }
  .glide__arrows {
    -webkit-touch-callout: none;
    user-select: none; }
  .glide__bullets {
    -webkit-touch-callout: none;
    user-select: none; }
  .glide--rtl {
    direction: rtl; }

    .glide__bullets {
      position: absolute;
      z-index: 2;
      bottom: 2em;
      left: 50%;
      display: inline-flex;
      list-style: none;
      transform: translateX(-50%); }
    
    .glide__bullet {
      background-color: rgba(255, 255, 255, 0.5);
      width: 9px;
      height: 9px;
      padding: 0;
      border-radius: 50%;
      border: 2px solid transparent;
      transition: all 300ms ease-in-out;
      cursor: pointer;
      line-height: 0;
      box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
      margin: 0 0.25em; }
      .glide__bullet:focus {
        outline: none; }
      .glide__bullet:hover, .glide__bullet:focus {
        border: 2px solid white;
        background-color: rgba(255, 255, 255, 0.5); }
      .glide__bullet--active {
        background-color: white; }
    
.glide__slide div {
  position: relative;
}